* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body {
  background-image: url(./photo-1486406146926-c627a92ad1ab.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: row;
  /* background-color: dodgerblue; */
}

.card {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  /* height: 7rem; */
  /* width: 12rem; */
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
  background-color: white;
  /* opacity: 0.5; */
  color: red;
  border-radius: 5px;
}

.ctnr {
  display: flex;
  flex-direction: row;
}

#add_btn {
  height: 2.4rem;
  width: 12rem;
  background-color: white;
  font-size: 24px;
  font-weight: 400;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 1.5rem;
}

.add-board {
  font-family: Arial, sans-serif;
  font-weight: 450;
  font-size: 21px;
  border: 2px solid #0079bf;
  border-radius: 5px;
  background-color: #0079bf;
  height: 1.9rem;
  width: 5rem;
  margin-top: 10px;
  color: whitesmoke;
  /* display: none; */

  /* border-radius: 10px; */
}

.delete {
  background-color: white;
  border: 1px solid white;
  height: 30px;
  width: 15px;
  margin: 11px;
  margin-top: 15px;
  font-weight: 500;
}

#input {
  border: 2px solid #0079bf;
  height: 2.3rem;
  width: 11rem;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 10px;
}
.add-del {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.cntr1 {
  background-color: white;
  /* margin: 10px; */
}
.really {
  background-color: white;
  border: 2px solid white;
  /* height: 6rem; */
  width: 11rem;
}

.addCard {
  border: 1px solid black;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn3 {
  font-size: 1rem;
  border: 3px solid white;
  height: 2.5rem;
  width: 10.5rem;
  padding: 12px;
  background-color: red;
}
